body {
    background-color: #5E78A7;
    margin-top: -30px;
 
}
 
h1 {
    font-family: gill sans, sans-serif;
    text-align: center;
    font-size: 50pt;
    color: white;
    padding-bottom: 300px;
}
 
.p1 {
    font-family: gill sans, sans-serif;
    text-align: left;
    font-size: 20pt;
    color: white;
    padding-left: 360px;
    margin-top: -50px;
}
 
.p1 a {
    margin-right: 20px;
    padding: 0 10px;
}
 
.p2 {
    font-family: gill sans, sans-serif;
    text-align: right;
    font-size: 20pt;
    color: white;
    padding-left: 50px;
    margin-top: -60px;
}
 
.p2 a {
    margin-right: 20px;
    padding: 0 10px;
}
 
.p3 {
    text-align: center;
    margin-top: 300px;
 
}
 
 
img {
    padding-top: 50px;
   
}
